<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bulma.css"/>
    <link rel="icon" href="/images/veilsa.png"/>
    <title><%= title %></title>
</head>
<body>
    <nav class="navbar is-dark p-2 has-shadow">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <img src="/images/veilsa.png" alt="Veilsa Software Service"/>
                </a>
            </div>
        <div class="navbar-menu is-light">
            <div class="navbar-end">
                <a href="/aboutus" class="navbar-item">About Us</a>
                <a href="/contact" class="navbar-item">Contact</a>
                <a href="/contact" class="navbar-item">Donate</a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Project</a> 
                
                    <div class="navbar-dropdown">
                        <a href="/mobile" class="navbar-item">Mobile App</a>
                        <a href="/website" class="navbar-item">Web App</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    