<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/bulma.css"/>
    <link rel="stylesheet" href="/stylesheets/bulma-carousel.min.css"/>
    <link rel="icon" href="/images/veilsa.png"/>
    <script src="https://kit.fontawesome.com/fe063c303c.js" crossorigin="anonymous"></script>
    <title>Home - Veilsa</title>
</head>
<body class="is-family-special">
<section class="hero is-medium has-carousel">
    <div id="carousel" class="hero-carousel">
       
        <div class='has-background'>
          <img class="is-background" src="https://www.yazilimturkiye.com/wp-content/uploads/2019/08/yazilim_icin_bilgisayar.jpg" alt="" />
        </div>
    
      </div>
            <div class="hero-head">    
                <div class="container">
                <nav class="navbar p-2 is-transparent">
                <div class="navbar-brand">
                    <a href="/" class="navbar-item">
                        <h1 class="has-text-white is-active"><i class="fab fa-uncharted"></i> VEILSA</h1>
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                            <span></span>
                            <span></span>
                            <span></span>
                          </span>
                    </div>
                <div class="navbar-menu">
                    <div class="navbar-end">
                        <a href="/hakkımızda" class="navbar-item has-text-white is-active"><i class="fas fa-address-card"></i>&nbsp; Hakkımızda</a>
                        <a href="/iletişim" class="navbar-item has-text-white"><i class="fas fa-headphones-alt"></i>&nbsp; İletişim</a>
                        <a href="/blog" class="navbar-item has-text-white"><i class="fas fa-blog"></i>&nbsp; Blog</a>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link has-text-white"><i class="fas fa-terminal"></i>&nbsp; Projeler</a> 
                        
                            <div class="navbar-dropdown">
                                <a href="/projeler/mobil" class="navbar-item"><i class="fas fa-mobile"></i>&nbsp; Mobil Uygulama</a>
                                <a href="/projeler/website" class="navbar-item"><i class="far fa-window-maximize"></i>&nbsp; Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        </div>
			<div class="hero-body has-text-centered">   
                 <br/><br/><br/>
                <h1 style="font-size: 40px;" class="title has-text-white">Veilsa Yazılım Hizmetleri</h1>
                <p class="description has-text-white">Veilsa Yazılım, web ve mobil uygulamalar geliştiren. Açık kaynaklı projeleri destekleyen bir organizasyondur.</p>
                <br/>
                <a href="/project" class="is-transparent has-text-white"><i class="fas fa-code"></i>&nbsp; Projeler</a>&emsp;
                <a href="/contact" class="is-transparent has-text-white"><i class="fas fa-id-badge"></i>&nbsp; İletişim</a>
                <br/><br/><br/><br/><br/><br/><br/>
            </div>
</section>

<section class="section mb-6 mt-6">
  <div class="container">
  <div class="columns">
    <div class="index-column column is-3 has-text-centered ml-6 ml-6 mr-6">
      <div class="container">
        <br/>
        <i class="fas fa-shield-alt fa-3x"></i><br/><br/>
        <h3 style="font-size: 25px;" clas="mb-2">Güvenlik</h3>
        <p>Tüm projelerimizde siber güvenlik testleri yapılıyor olup, siber güvenlik testleri sonucunda eksiklik olması ve düzeltme gerekmesi durumunda, hızlı bir şekilde gereken işlemleri yerine getiriyor ve tekrar güvenlik testi yapıyoruz.</p>
      </div>
      </div>

    <div class="index-column column is-3 has-text-centered ml-6 ml-6 mr-6">
      <div class="container">
        <br/>
      <i class="fas fa-users fa-3x"></i><br/><br/>
      <h3 style="font-size: 25px;" clas="mb-2">Ekip Çalışması</h3>
      <p>Alanında uzmanlaşmış güçlü kadromuzla tüm projelere yanıt verebilmekteyiz. Projenin durumuna göre her projede proje yöneticisi, backend developer, frontend developer ve mobile developer çalışmakta olup, projenin büyüklüğüne göre sayılar artabilmektedir.</p>
      <br/>
    </div>
    </div>

    <div class="index-column column is-3 has-text-centered ml-6 mr-1">
      <div class="container">
        <br/>
      <i class="fas fa-laptop-house fa-3x"></i><br/><br/>
      <h3 style="font-size: 25px;" clas="mb-2">Uzaktan Destek</h3>
      <p>Projenizle ilgili bir sorun çıkarsa uzaktan bağlanıp projenizde düzenlemeler yaparak projenizi daha iyi hale getiriyoruz. Projeyi eğer bizden aldıysanız hiçbir ek ücret ödemeniz gerekmiyor.</p>
    </div>
    </div>    </div>
  </div>
</section>

<section class="section">
  <div class="container">
  <img src="/images/developer.png" style="float:right; width: 600px; " class="block">
  <br/><br/>
  <h1 class="is-size-3 mb-3">Kullandığımız Diller & Teknolojiler</h1>

  <div class="columns mt-3 mb-6">
    <div class="column is-6 language-column mr-2"><i class="fab fa-php"></i> Php</div>

    <div class="column is-6 language-column mr-2"><i class="fab fa-html5"></i> Html</div>
  </div>

  <div class="columns mt-3 mb-6">
    <div class="column is-6 language-column mr-2"><i class="fab fa-css3"></i> Css</div>

    <div class="column is-6 language-column mr-2"><i class="fab fa-node-js"></i> Node.js</div>
  </div>

  <div class="columns mt-3 mb-6">
    <div class="column is-6 language-column mr-2"><i class="fab fa-react"></i> React.js</div>

    <div class="column is-6 language-column mr-2"><i class="fas fa-code"></i> Golang</div>
  </div></div>
</section>
    
<script src="/javascripts/bulma-carousel.js"></script>
<script>
    bulmaCarousel.attach('#carousel');
</script>
</body>
</html>