<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
    <link rel="icon" href="/images/veilsa.png"/>
    <script src="https://kit.fontawesome.com/fe063c303c.js" crossorigin="anonymous"></script>
    <title>Home - Veilsa</title>
</head>
<body class="body">

  <section class="section hero">
    <nav class="navbar navbar-expand-lg p-2">
      <div class="container-fluid">
      <a class="navbar-brand" id="nav-btn" href="/"><i class="fab fa-uncharted"></i> Veilsa</a>
      <button class="navbar-toggler text-light" data-bs-target="navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-2">
          <li class="navbar-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="nav-btn" data-bs-toggle="dropdown">
              <i class="fas fa-terminal"></i> Projeler</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/projeler/mobil"><i class="fas fa-mobile-alt"></i> Mobil</a></li>
              <li><a class="dropdown-item" href="/projeler/mobil"><i class="far fa-window-maximize"></i> Web</a></li>
            </ul>
          </li>
          <li class="navbar-item">
            <a class="nav-link active" id="nav-btn" href="/hakkımızda"><i class="fas fa-address-card"></i> Hakkımızda</a>
          </li>
          <li class="navbar-item">
            <a class="nav-link active" id="nav-btn" href="/hakkımızda#iletişim"><i class="fas fa-headset"></i> İletişim</a>
          </li>
          <li class="navbar-item">
            <a class="nav-link active" id="nav-btn" href="/blog"><i class="fas fa-blog"></i> Blog</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>
    <div style="padding-top: 250px; padding-bottom: 260px;" class="text-center text-light">
      <div class="container">
      <h1>Veilsa Yazılım Hizmetleri</h1>
      <p>Veilsa Yazılım, web ve mobil uygulamalar geliştiren. Açık kaynaklı projeleri destekleyen bir organizasyondur.</p>
      <a id="nav-btn" href="/hakkımızda#iletişim"><i class="fas fa-headphones-alt"></i> İletişim</a>&emsp;
      <a id="nav-btn" href="/projeler"><i class="fas fa-code"></i> Projeler</a>
    </div>
  </section>


  <section class="section pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div style="margin-left: 100px;" class="col-3 text-center me-2 shadow-i">
          <i class="fas fa-shield-alt fa-3x pb-1 pt-3"></i>
          <h3 class="pb-1">Güvenlik</h4>
          <p class="pb-2">Tüm projelerimizde siber saldırı güvenliğine öncelik veriyoruz. Eğer açık çıkarsa güvenliği arttırıyoruz</p>
        </div>
        <div class="col-3 text-center me-2 shadow-i">
          <i class="fas fa-users fa-3x pb-1 pt-3"></i>
          <h3 class="pb-1">Ekip</h4>
          <p class="pb-1">Alanında uzmanlaşmış ekibimizle önce plan yapıp sonra projeyi geliştirmeye başlıyoruz</p>
        </div> 
        <div class="col-3 text-center shadow-i">
          <i class="fas fa-laptop-house fa-3x pb-1 pt-3"></i>
          <h3 class="pb-1">Destek</h4>
          <p class="pb-1">Projeyi aldıktan sonra projede sorun çıkarsa uzaktan bağlantı sağlayıp projedeki hatanızı çözüyoruz</p>
        </div> 
      </div>
    </div>
  </section>

  <section style="padding-bottom: 100px; padding-top:100px" class="section">
    <div class="container">
    <img src="/images/developer.png" style="width:600px; float:right; bottom:20px" class="img-fluid"/>
      <div class="row pt-5">
        <h3 class="mb-4">Kullandığımız Diller & Teknolojiler</h3>
        <div class="col-5 shadow-i me-2 mb-3">
          <h5 class="pt-1"><i class="fab fa-html5"></i> html</h5>
        </div>
        <div class="col-5 shadow-i mb-3">
          <h5 class="pt-1"><i class="fab fa-node-js"></i> node.js</h5>
        </div>
        <div class="col-5 shadow-i me-2 mb-3">
          <h5 class="pt-1"><i class="fab fa-css3"></i> css</h5>
        </div>
        <div class="col-5 shadow-i mb-3">
          <h5 class="pt-1"><i class="fab fa-php"></i> php</h5>
        </div>
        <div class="col-5 shadow-i me-2 mb-3">
          <h5 class="pt-1"><i class="fab fa-react"></i> react</h5>
        </div>
        <div class="col-5 shadow-i mb-3">
          <h5 class="pt-1"><i class="fas fa-code"></i> golang</h5>
        </div>
      </div>
    </div>
  </section>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>