::-webkit-scrollbar {
  width: 0px;
}

.hero {
  background-image: url('/images/computer.jpg');
  background-size: cover;
}

#nav-btn {
  color:white;
  text-decoration: none;
}


@keyframes goup {
  0%   {top:0px;}
  25%  {top:-20px;}
  50%  {top:-20px;}
  75%  {top:-20px;}
  100% {top:-20px;}
}

.shadow-i {
  box-shadow: rgb(100, 100, 100) 3px 3px 3px;
  position: relative;
  transition: 0.2s;
}

.shadow-i:hover {
  background-color:#1c1f23;
  color:white;
  animation-name: goup;
  animation-duration: 5s;
}