/* width */
::-webkit-scrollbar {
  width: 0px;
  background-color: rgb(22, 22, 22);
}

::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}

.sa {
  box-shadow: rgb(100, 100, 100) 3px 3px 3px;
}